/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: 'wght' 400;
  background-attachment: fixed;
  background-image: var(--page-background-pattern);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 100px 0;
  font-size: 18px;
}

.header {
  font-family: var(--font-accent);
  padding: clamp(122px, 17vi, 130px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border: 2px solid #000;

}

.content-wrapper {
  inline-size: var(--width-content);
}
.page-logo {
  font-size: clamp(49px, 6.2vi, 65px);
}
.page-title {
  font-size: clamp(14px, 2vi, 23px);
}
.main {
  background-color: #fff;
}
.card {
  border: 2px solid #000;
}
.card-title {
  font-size: calc(19.35px - 0.0939vw);
  font-variation-settings: 'wght' 715;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}
.card-actions {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
}
.button {
  cursor: pointer;
  border: 2px solid #000;
}
.button__text {
  font-family: var(--font-accent);
}

.save-button {
  min-inline-size: 306px;
  min-block-size: 55px;
  padding: 17px 20px;
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.icon-save {
  min-inline-size: 21px;
  min-block-size: 21px;
  max-inline-size: 28px;
  max-block-size: 28px;
  flex-basis: 100%;
  display: block;
}
.button-save-text {
 min-inline-size: 266px;
}
@media (max-width: 500px) {
  .save-button {
    flex-direction: column;
  }
}